<div class="loader-wrapper"
     *ngIf="!recipeItem">
  <div class="loader">
    <mat-progress-spinner
      class="example-margin"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [value]="50">
    </mat-progress-spinner>
  </div>
</div>
<div class="main-wrapper"
     *ngIf="recipeItem"
>
  <div class="text-content">
    <div class="recipe-title">
      {{ recipeItem.title }}
    </div>
    <div class="recipe-text">
      {{ recipeItem.description }}
    </div>
    <div class="recipe-date">
      {{ recipeItem.creationDate | date }}
    </div>
  </div>
  <div class="history-title"
       *ngIf="recipes[0]"
  >
    History:
  </div>
  <app-recipes-item *ngFor="let recipe of recipes"
                    [recipeItem]="recipe"
                    [history]="true"
  ></app-recipes-item>
</div>
