.main-wrapper {
  margin: 0 25%;

  .empty-block {
    height: 40rem
  }

  .cta-btn {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .main-wrapper {
    margin: 0 10%;
  }
}
