@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$main-font: 'Montserrat';

.main-wrapper {
  margin: 0 25%;

  .empty-block {
    font-family: $main-font;
    text-align: center;
    font-size: 2rem;
    color: #180739;
    margin-top: 10rem;
  }

  .cta-btn {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .main-wrapper {
    margin: 0 10%;
  }
}
