<header>
  <div class="main-wrapper">
    <div class="logo"
         [routerLink]="['/home']"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{ exact: true }"
    >
      <img [src]="capImg"
           alt="cap"
           class="header-img"
      >
      <h1 class="main-title">CookBook</h1>
    </div>
    <div class="nav" *ngIf="isAuthorized">
      <nav class="nav-items">
        <div class="nav-item"
             [routerLink]="['/recipes']"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
        >
          Recipes
        </div>
        <div class="nav-item"
             [routerLink]="['/about']"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }">
          About
        </div>
        <div class="nav-item">
          <button mat-raised-button
                  (click)="onSignOut()"
          >
            Sign Out
          </button>
        </div>
        <button mat-icon-button
                [matMenuTriggerFor]="menu"
                class="burger-btn"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  [routerLink]="['/recipes']"
          >
            Recipes
          </button>
          <button mat-menu-item
                  [routerLink]="['/about']"
          >
            About
          </button>
          <button mat-menu-item
                  (click)="onSignOut()"
          >
            Sign Out
          </button>
        </mat-menu>
      </nav>
    </div>
    <div class="header__auth" *ngIf="!isAuthorized">
      <button mat-raised-button (click)="openSignIn()">Sign In</button>
      <button mat-raised-button (click)="openSignUp()">Sign Up</button>
    </div>
  </div>
</header>
