<div class="main-wrapper">
  <div class="info-element">
    <div class="info-element-text">
      <div class="info-text-title">
        <h2>Food</h2>
      </div>
      <div class="info-text-subtitle">
        People, as well as animals, can’t live without food.
        It is known that a man can’t live without food more than a couple of months.
        Food gives us energy and strength. So it’s very important to eat good healthy food.
      </div>
    </div>
    <img [src]="foodImg.healthy"
         alt="plate"
         class="pizza-img"
    >
  </div>
  <div class="info-element">
    <img [src]="foodImg.pizza"
         alt="pizza"
         class="pizza-img"
    >
    <div class="info-element-text text-right">
      <div class="info-text-title">
        <h2>Do it yourself</h2>
      </div>
      <div class="info-text-subtitle">
        While eating at a restaurant is an enjoyable and convenient
        occasional treat, most individuals and families prepare their
        meals at home. To make breakfast, lunch, and dinner daily,
        these persons must have the required foods and ingredients on hand and ready to go.
      </div>
    </div>
  </div>
  <div class="info-element">
    <div class="info-element-text">
      <div class="info-text-title">
        <h2>About</h2>
      </div>
      <div class="info-text-subtitle">
        At this website you may find many different and useful
        recipes which may help you to cook and show you some cooking tips.
      </div>
    </div>
    <img [src]="foodImg.food"
         alt="plate"
         class="food-img"
    >
  </div>
</div>
