@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$main-font: 'Montserrat';

.main-wrapper {
  font-family: $main-font;
  margin: 3rem 20%;

  .text-right {
    text-align: right;
  }

  .info-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

    .pizza-img {
      heigth: 15rem;
      width: 20rem;
    }

    .food-img {
      height: 15rem;
      width: 15rem;
    }

    .info-element-text {
      width: 32rem;

      .info-text-title {
        color: #180739;
        font-size: 1.75rem;
        margin-bottom: 2rem;
      }

      .info-text-subtitle {
        opacity: 0.7;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-wrapper {
    margin: 3rem 10%;
  }
}

@media screen and (max-width: 840px) {
  .main-wrapper {
    .info-element {

      .pizza-img {
        heigth: 7.5rem;
        width: 10rem;
      }

      .food-img {
        height: 7.5rem;
        width: 7.5rem;
      }

      .info-element-text {
        .info-text-title {
          font-size: 1.25rem;
        }

        .info-text-subtitle {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .main-wrapper {
    .info-element {
      display: block;

      .pizza-img,.food-img {
        display: none;
      }

      .info-element-text {
        width: 100%;
      }
    }
  }
}
