<div class="main-wrapper">
  <div class="text-info">
    <div class="text-info-title">
      {{ action }} recipe
    </div>
    <div class="text-info-subtitle">
      This is the page where you may create or update the recipes.
    </div>
  </div>
  <form [formGroup]="createRecipeForm"
        (ngSubmit)="onSubmit()"
  >
    <label class="input-label">
      Title
    </label>
    <input type="text"
           class="title-input"
           placeholder="Enter the title here"
           formControlName="title"
           #title
    >
    <label class="input-label">Description</label>
    <textarea class="text-input"
              placeholder="Enter the description here"
              formControlName="text"
              #text
    ></textarea>
    <button class="cta-btn"
            [disabled]="!createRecipeForm.valid"
            #ctaBtn
    >
      {{ action }} recipe
    </button>
  </form>
</div>
