@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-font: 'Open Sans';

.main-wrapper {
  font-family: $main-font;
  border: 2px solid rgba(24, 7, 57, 0.7);
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .recipe-title {
    color: #180739;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    word-break: break-word;
  }

  .recipe-text {
    opacity: 0.7;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    word-break: break-word;
  }

  .btn-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;

    .cta-btn {
      font-size: 1rem;
      border: none;
    }

    .update-btn {
      background-color: #bd9210;

      &:hover {
        background-color: #d4a514;
      }
    }

    .delete-btn {
      background-color: #6f0808;

      &:hover {
        background-color: #8b0a0a;
      }
    }
  }
}

.at-home {
  width: 15rem;
  height: 20rem;

  .recipe-date, .btn-content {
    display: none;
  }
}

.history-item {
  .recipe-date, .btn-content {
    display: none;
  }
}
