<div class="main-wrapper"
     [class.at-home]="home"
     (click)="goToSingleView()"
     [class.history-item]="history"
>
  <div class="text-content">
    <div class="recipe-title">
      {{ recipeItem.title | readMore }}
    </div>
    <div class="recipe-text">
      {{ recipeItem.description | readMore}}
    </div>
    <div class="recipe-date">
      {{ recipeItem.creationDate | date: 'medium' }}
    </div>
  </div>
  <div class="btn-content">
    <button class="update-btn cta-btn"
            (click)="updateItem(recipeItem.title, recipeItem.description, recipeItem.recipeId)"
            [routerLink]="['create-recipe']"
    >
      Update
    </button>
    <button class="delete-btn cta-btn"
            (click)="removeRecipe(recipeItem.recipeId)"
    >
      Delete
    </button>
  </div>
</div>
