body {
  margin: 0;
}

h2 {
  margin: 0;
}

.active-link {
  color: #ffe200;
}

.cta-btn {
  padding: 0.5rem;
  color: #fff;
  background-color: #19790c;
  width: 100%;
  border: 1px solid #19790c;
  border-radius: 2rem;
  outline: none;
  font-size: 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: #1f9510;
  }

  &:disabled {
    background-color: #41b130;
    border: 1px solid #41b130;
    cursor: auto;
  }
}
