@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$main-font: 'Montserrat';

.wrapper {
  font-family: $main-font;
  margin: 10%;

  .title {
    margin-bottom: 3rem;
    font-size: 1.75rem;
  }

  .buttons {
    display: flex;

    .cta-btn {
      padding: 10px 10%;
      outline: none;
      border: 1px solid #5211d1;
      text-align: center;
      border-radius: 3px;
      font-weight: 500;
    }

    .delete-btn {
      background-color: #5211d1;
      color: #fff;
      margin-right: 1rem;
    }

    .cancel-btn {
      color: #5211d1;
      background-color: #fff;
    }
  }
}
